body{
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

#navbar{
    padding: 0;
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul{
    list-style: none;
}

#navbar ul li{
    text-align: center;
    color: rgb(255, 0, 76);
    font-size: large;
    font-weight: bold;
}

#navbar ul li a{
    text-decoration: none;
    color: rgb(255, 0, 76);
}

#navbar ul li a:hover{
    opacity: 0.9;
    border-radius: 25%;
    background-color: rgba(0, 236, 20, 0.349);
}

#module{
    border: 3px black solid;
    height: 720px;
    width: 720px;
    
}

#row{
    width: 720px;
    height: calc(720/16)px;
}

#row div{
    width: calc(720/16)px;
    height: 100%;

}